<div class="container" *ngIf="!isLoggedUser; else loggedOut">
  <div class="login">
    <h1>Login user</h1>
    <input
      class="input"
      type="text"
      placeholder="username"
      [(ngModel)]="username"
    />
    <input
      class="input"
      type="password"
      placeholder="password"
      [(ngModel)]="password"
    />
    <button class="btn btn-primary btn-round" (click)="loginUser()">
      Submit
    </button>
  </div>
</div>
<ng-template #loggedOut>
  <div class="container-data">
    <div class="options">
      <button class="btn btn-primary btn-round" (click)="openModal()">
        Create post
      </button>
      <button class="btn btn-primary btn-round" (click)="logoutUser()">
        Logout
      </button>
    </div>
    <div class="posts">
      <div class="post" *ngFor="let dataForPost of posts">
        <h1>{{ dataForPost?.content }}</h1>
        <p>{{ dataForPost?.date }}</p>
      </div>
    </div>
  </div>
</ng-template>

<div class="container-modal" *ngIf="isOpenModal">
  <div class="modal">
    <h1>Create post</h1>
    <input
      class="input"
      type="text"
      placeholder="content"
      [(ngModel)]="content"
    />
    <div class="modal-right">
      <button class="btn btn-primary btn-round" (click)="createPost()">
        Accept
      </button>
      <button class="btn btn-primary btn-round" (click)="closeModal()">
        Cancel
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
